public-hoist-pattern[]=eslint
public-hoist-pattern[]=eslint-*
public-hoist-pattern[]=@antfu/eslint-*
public-hoist-pattern[]=stylelint
public-hoist-pattern[]=stylelint-*
public-hoist-pattern[]=prettier
public-hoist-pattern[]=@prettier/*
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=typescript
public-hoist-pattern[]=@typescript-eslint/*
public-hoist-pattern[]=cross-env
public-hoist-pattern[]=dotenv
public-hoist-pattern[]=npm-run-all
public-hoist-pattern[]=node-dev
public-hoist-pattern[]=@aws-sdk/*
public-hoist-pattern[]=prisma
public-hoist-pattern[]=@prisma/client
public-hoist-pattern[]=rollup
public-hoist-pattern[]=rollup-*
public-hoist-pattern[]=@rollup/*
public-hoist-pattern[]=webpack
public-hoist-pattern[]=webpack-*
public-hoist-pattern[]=*-webpack-*
public-hoist-pattern[]=esbuild
public-hoist-pattern[]=esbuild-*
public-hoist-pattern[]=jest
public-hoist-pattern[]=@jest/*
public-hoist-pattern[]=@types/jest
public-hoist-pattern[]=jest-*
public-hoist-pattern[]=*-jest
public-hoist-pattern[]=class-validator
public-hoist-pattern[]=pm2
