# TypeScript
public-hoist-pattern[]=typescript
# Linter and Formatter
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*commitlint*
# Tester
public-hoist-pattern[]=*jest*
# Workarounds
# used by vue-tsc
public-hoist-pattern[]=vscode-languageserver-textdocument
