@import './font.css';

@import './markdown.css';

@import './hover.css';
@import './list.css';
@import './track-list.css';

@import './s-lazysizes.css';
@import './s-naive-ui.css';
@import './s-nprogress.css';
@import './s-vuetify.css';

.s-duration,
.s-numeric {
  @apply tabular-nums;
  @apply lining-nums;
  @apply leading-none;
  @apply select-none;
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply whitespace-nowrap;
}

.s-autofill-color input:-webkit-autofill,
.s-autofill-color textarea:-webkit-autofill {
  background-color: var(--s-autofill-bg) !important;
  background-image: none;
  color: var(--s-autofill-text);
}
